@model ProducScan.Models.RegistrodePiezasEscaneada

<div class="modal fade" id="createProduccModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
                <form id="formProduccion" asp-action="Create" asp-controller="PiezasEscaneadas" method="post">

                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">CREAR REGISTRO DE INSPECCIÓN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Fecha y Hora -->
                    <div class="mb-3">
                        <label>Fecha</label>
                        <input type="date" asp-for="Fecha" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" required />

                    </div>

                    <div class="mb-3">
                        <label>Hora</label>
                        <input type="time" asp-for="Hora" class="form-control" />
                    </div>
                    <!-- Mesa -->
                    <div class="mb-3">
                        <label>Mesa</label>
                        <select name="NuMesa" class="form-control" required>
                            <option value="">Seleccione una mesa</option>
                            @foreach (var m in (IEnumerable<string>)ViewBag.Mesas)
                            {
                                <option value="@m">@m</option>
                            }
                        </select>
                    </div>

                    <!-- TM -->
                    <div class="mb-3">
                        <label>Team Member</label>
                        <input type="text" class="form-control tm-input" name="Tm" placeholder="Buscar TM..." required />
                    </div>

                    <!-- Mandrel -->
                    <div class="mb-3">
                        <label>Mandrel</label>
                        <input type="text" class="form-control mandrel-input" name="Mandrel" placeholder="Buscar Mandrel..." required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Piezas</label>
                        <input asp-for="Ndpiezas" type="number" class="form-control" />
                        <span asp-validation-for="Ndpiezas" class="text-danger"></span>
                    </div>
                    <!-- Turno -->
                    <div class="mb-3">
                        <label>Turno</label>
                        <select name="Turno" class="form-control" required>
                            @foreach (var t in (IEnumerable<string>)ViewBag.Turnos)
                            {
                                <option value="@t">@t</option>
                            }
                        </select>
                    </div>

                    



                   

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>