@model ProducScan.Models.RegistrodeDefecto

<div class="modal fade" id="createDefectoModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="RegistrodeDefectos" method="post" id="formDefecto">
                @Html.AntiForgeryToken()
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="createDefectoModalLabel">CREAR REGISTRO DE DEFECTO</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Fecha -->
                    <div class="mb-3">
                        <label asp-for="Fecha" class="form-label"></label>
                        <input id="fecha" asp-for="Fecha" type="date" class="form-control"
                               max="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>

                    <!-- Hora -->
                    <div class="mb-3">
                        <label asp-for="Hora" class="form-label"></label>
                        <input id="hora" asp-for="Hora" type="time" class="form-control" required />
                        <span asp-validation-for="Hora" class="text-danger"></span>
                    </div>

                    <!-- Mesa -->
                    <div class="mb-3">
                        <label  class="form-label">Mesa</label>
                        <select asp-for="NuMesa" class="form-control" required>
                            <option value="">Seleccione una mesa</option>
                            @foreach (var m in (IEnumerable<string>)ViewBag.Mesas)
                            {
                                <option value="@m">@m</option>
                            }
                        </select>
                        <span asp-validation-for="NuMesa" class="text-danger"></span>
                    </div>

                    <!-- TM -->
                    <div class="mb-3">
                        <label class="form-label">Team Member</label>
                        <input asp-for="Tm" type="text" class="form-control tm-input" placeholder="Buscar TM..." required />
                        <span asp-validation-for="Tm" class="text-danger"></span>
                    </div>

                    <!-- Mandril -->
                    <div class="mb-3">
                        <label class="form-label">Mandril</label>
                        <input asp-for="Mandrel" type="text" class="form-control mandrel-input" placeholder="Buscar Mandril..." required />
                        <span asp-validation-for="Mandrel" class="text-danger"></span>
                    </div>

                    <!-- Defecto -->
                    <div class="mb-3">
                        <label>Codigo de Defecto</label>
                        <select asp-for="CodigodeDefecto" id="ddlDefecto" class="form-select" required>
                            <option value="">-- Selecciona un defecto --</option>
                        </select>
                        <span asp-validation-for="CodigodeDefecto" class="text-danger"></span>
                    </div>

                    <!-- Turno -->
                    <div class="mb-3">
                        <label asp-for="Turno" class="form-label"></label>
                        <select asp-for="Turno" class="form-control" required>
                            @foreach (var t in (IEnumerable<string>)ViewBag.Turnos)
                            {
                                <option value="@t">@t</option>
                            }
                        </select>
                        <span asp-validation-for="Turno" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Guardar</button>
                    <button id="btnNuevoDefecto" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>